<article class="comment">
  <a class="comment-img" href="#non">
    <img src={{photo}} alt="" width="50" height="50">
  </a>
  <div class="comment-body">
    <div class="text">
      <p>{{{text}}}</p>
    </div>
    <p class="attribution">by <a href="#non">{{name}}</a> at 14:23pm, 30th Oct 2019</p>
  </div>
</article>